.header-color{
    color:rgb(255, 255, 255);
}

.underlineOnHover {
    color: #ffffff; 
}

.underlineOnHover:hover {
    color: rgb(255, 255, 255); 
}

.underlineOnHover:after {   
    border-bottom: solid #ffffff;
}