.gallery-container {
    position: relative;
    vertical-align: middle;  
}

.gallery-Slides {
    display: none;   
    text-align: center;
}

.gallery-prev,
.gallery-next {
    cursor: pointer;
    position: absolute;
    top: 5%;
    height:85%;
    width:10%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.gallery-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.gallery-numbertext {
    /*text-shadow: 0px 0px 4px #ffffff;*/ 
    background-color:rgba(255, 255, 255, 0.6);
    color: #000000;
    font-size: 16px;
    padding: 4px 8px;
    position: absolute;
    top: 0;
}
.gallery-caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.gallery-arrowLeft{
    text-shadow: 0px 0px 8px #23430C;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.gallery-arrowRight{
    text-shadow: 0px 0px 8px #23430C;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 16px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.gallery-element{
    /*width:100%;*/
    max-height:294px;
    width:auto; 
}