.category{
    text-decoration: none;
}
  
 
.category:hover{
    color: transparent;  
}
  

.video-filter{   
    opacity: 0.8; 
    transition: 0.4s;  
}
  

.video-filter:hover{   
    opacity: 1;
}
      
 