.row-custom{
width:100%;  
padding-left:5%;
}

.bd-placeholder-img{ 
  margin:20px; 
  width:250px;
  height:250px; 
}

.fw-normal{
  padding-top:10px;
}

.cta{ 
    text-align: center;
}

.cta-filter-element{  
  text-decoration: none;
  color:black;
  transition: all 0.4s ease;
}

.active
{
  color:red;  
  background: rgb(255, 223, 223);
}

.cta-filter-element:hover{
  color:rgb(255, 0, 0); 
}

.filter-content{
    width:20%;
}

.filter {
    margin: 30px 0 10px;
  }
  
  .filter a {
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(153, 153, 153);
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .boxes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .boxes a {
    width: 23%;
    border: 2px solid #333;
    margin: 0 1% 20px 1%;
    line-height: 60px; 
  }
  
  .all {
    /*background: khaki;*/
  }
  
  .immersive {
    /*background: lightgreen; */
  }
  
  .installation {
    /*background: lightblue;*/
  }
  
  .data {
    /*background: lightcoral;*/
  }

  .support {
    /*background: rgb(255, 211, 68);*/
  }
  
  
  .filter a.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 0;
    height: 0; 
  }
  
  .is-animated {
    animation: .6s zoom-in; 
  }
  
  @keyframes zoom-in {
    0% {
     transform: scale(.1);
    } 
    100% {
      transform: none;
    }
  }