.header-color{
    color:rgb(0, 0, 0);
}

.underlineOnHover {
    color: #000000; 
}

.underlineOnHover:hover {
    color: rgb(0, 0, 0); 
}

.underlineOnHover:after {   
    border-bottom: solid #000000;
}